<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Reset Password</h3>
        </div>
        <form name="changePasswordForm" ng-submit="changePassword()" role="form" novalidate>
            <div class="panel-body">
                <div class="form-group"
                     ng-class="{ 'has-error': changePasswordForm.currentPassword.$touched && changePasswordForm.currentPassword.$invalid,
                                 'has-success': resetPasswordForm.currentPassword.$touched && !changePasswordForm.currentPassword.$invalid}">
                    <label for="currentPassword">Current Password</label>
                    <input name="currentPassword"
                           type="password"
                           class="form-control"
                           id="currentPassword"
                           ng-model="currentPassword"
                           ng-minlength="6"
                           placeholder="Current Password"
                           required>
                    <div class="help-block"
                         ng-messages="changePasswordForm.currentPassword.$error"
                         ng-show="changePasswordForm.currentPassword.$touched">
                        <div ng-messages-include="client/components/directives/validators/messages.ng.html"></div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': changePasswordForm.password.$touched && changePasswordForm.password.$invalid,
                                 'has-success': changePasswordForm.password.$touched && !changePasswordForm.password.$invalid}">
                    <label for="password">New Password</label>
                    <input name="password"
                           type="password"
                           class="form-control"
                           id="password"
                           ng-model="password"
                           ng-minlength="6"
                           placeholder="New Password"
                           required>
                    <div class="help-block"
                         ng-messages="changePasswordForm.password.$error"
                         ng-show="changePasswordForm.password.$touched">
                        <div ng-messages-include="client/components/directives/validators/messages.ng.html"></div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': changePasswordForm.passwordConfirm.$touched && changePasswordForm.passwordConfirm.$invalid,
                                 'has-success': changePasswordForm.passwordConfirm.$touched && !changePasswordForm.passwordConfirm.$invalid}">
                    <label for="passwordConfirm">Password Confirmation</label>
                    <input name="passwordConfirm"
                           type="password"
                           class="form-control"
                           id="passwordConfirm"
                           ng-model="passwordConfirm"
                           ng-minlength="6"
                           compare-to="password"
                           placeholder="Password Confirmation"
                           required>
                    <div class="help-block"
                         ng-messages="changePasswordForm.passwordConfirm.$error"
                         ng-show="changePasswordForm.passwordConfirm.$touched">
                        <div ng-messages-include="client/components/directives/validators/messages.ng.html"></div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button id="submit" type="submit" class="btn btn-primary"><i class="fa fa-refresh"></i>Submit New
                    Password
                </button>
                <a class="btn btn-default pull-right" ui-sref="full.usersDashboard({userId: $root.currentUser._id})">Cancel</a>
            </div>
        </form>
    </div>
</div>
