<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Register Account</h3>
        </div>
        <form name="registerForm" ng-submit="createUser()" role="form" novalidate>
            <div class="panel-body">
                <div class="form-group"
                     ng-class="{ 'has-error': registerForm.username.$touched && registerForm.username.$invalid,
                                 'has-success': registerForm.username.$touched && !registerForm.username.$invalid}">
                    <label for="username" class="control-label">Username</label>
                    <input name="username"
                           type="text"
                           class="form-control"
                           id="username"
                           ng-model="username"
                           placeholder="Username"
                           unique-username
                           required>
                    <div class="help-block"
                         ng-messages="registerForm.username.$error"
                         ng-show="registerForm.username.$touched">
                        <div ng-messages-include="client/components/directives/validators/messages.ng.html"></div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': registerForm.email.$touched && registerForm.email.$invalid,
                                 'has-success': registerForm.email.$touched && !registerForm.email.$invalid}">
                    <label for="email" class="control-label">Email</label>
                    <input name="email"
                           type="email"
                           class="form-control"
                           id="email"
                           ng-model="email"
                           placeholder="Email"
                           unique-email
                           required>
                    <div class="help-block"
                         ng-messages="registerForm.email.$error"
                         ng-show="registerForm.email.$touched">
                        <div ng-messages-include="client/components/directives/validators/messages.ng.html"></div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': registerForm.password.$touched && registerForm.password.$invalid,
                                 'has-success': registerForm.password.$touched && !registerForm.password.$invalid }">
                    <label for="password" class="control-label">Password</label>
                    <input name="password"
                           type="password"
                           class="form-control"
                           id="password"
                           ng-model="password"
                           placeholder="Password"
                           ng-minlength="6"
                           required>
                    <div class="help-block"
                         ng-messages="registerForm.password.$error"
                         ng-show="registerForm.password.$touched">
                        <div ng-messages-include="client/components/directives/validators/messages.ng.html"></div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': registerForm.password_confirm.$touched && registerForm.password_confirm.$invalid,
                                 'has-success': registerForm.password_confirm.$touched && !registerForm.password_confirm.$invalid}">
                    <label for="password_confirm" class="control-label">Password Confirmation</label>
                    <input name="password_confirm"
                           type="password"
                           class="form-control"
                           id="password_confirm"
                           ng-model="password_confirm"
                           placeholder="Password Confirmation"
                           ng-minlength="6"
                           compare-to="password"
                           required>
                    <div class="help-block"
                         ng-messages="registerForm.password_confirm.$error"
                         ng-show="registerForm.password_confirm.$touched">
                        <div ng-messages-include="client/components/directives/validators/messages.ng.html"></div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button ng-disabled="registerForm.$invalid"
                        id="submit"
                        type="submit"
                        class="btn btn-primary">
                    <i class="fa fa-plus"></i>Register Account
                </button>
                <a ui-sref="authLogin" class="btn btn-link pull-right"><i class="fa fa-sign-in"></i>Login</a>
            </div>
        </form>
    </div>
</div>
