<div class="users-dashboard">
    <div class="row">
        <div class="col-md-12 header">
            <h1><i class="fa fa-dashboard"></i>Dashboard</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-md-2 sidebar" ng-hide="editMode">
            <img src="/images/no-image.png" alt="">
            <button class="btn btn-primary btn-block">Update Image</button>
        </div>

        <div class="col-md-10 content" ng-hide="editMode">
            <p ng-hide="user.profile">No profile info has been added</p>
            <div ng-show="user.profile">
                <h3 class="user-name">
                    {{user.profile.first_name}} {{user.profile.last_name}}<br>
                    <small>{{createdOn}}</small>
                </h3>
                <div class="user-bio">
                    <fieldset>
                        <legend>Bio</legend>
                        <div ng-bind-html="user.profile.bio"></div>
                    </fieldset>

                </div>
            </div>
            <br>
            <button class="btn btn-primary" ng-click="editUser()">Update Profile</button>
        </div>

        <div ng-show="editMode" class="col-md-12">
            <form name="userProfileForm" role="form" ng-submit="updateUserProfile()" novalidate>
                <div class="row">

                    <div class="form-group col-md-6">
                        <label class="control-label" for="first_name">First Name</label>
                        <input type="text"
                               class="form-control"
                               name="first_name"
                               id="first_name"
                               ng-model="user.profile.first_name">
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label" for="last_name">Last Name</label>
                        <input type="text"
                               class="form-control"
                               name="last_name"
                               id="last_name"
                               ng-model="user.profile.last_name">
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="bio">Bio</label>
                        <text-angular id="bio" ng-model="user.profile.bio"></text-angular>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-default" ng-click="viewUser()">Cancel</a>

            </form>

        </div>
    </div>
</div>
